@import '../globalstyles/variables'
@import '../globalstyles/helpers'

.auth-wrapper
    margin-right 20px
    display flex
    flex-direction rows
    .display-name
        font-size: 1.25rem
        // font-weight: bold
        padding-top:0.25rem
        padding-left: 10px
